{# events \LocalizationsBundle\Entity\Event[] #}
{# title string #}
{# filterForm \Symfony\Component\Form\FormView #}

{% extends '::base.html.twig' %}

{% block main_content %}
    <hr>
    <div class="filter_form">
        {% include '@Localizations/form.html.twig' with { form: filterForm} %}
    </div>
    <hr>
    <div class="events_list">
        {% for event in events %}
            {% include '@Localizations/list_item.html.twig' with { event: event } %}
        {% endfor %}
    </div>
{% endblock %}