{# event \LocalizationsBundle\Entity\Event #}

<div class="events_list__single">
    <h2 class="events_list__header">{{ event.name }}</h2>
    <a
        class="events_list__link"
        href="{{ path('event_profile', { id: event.id }) }}"
    >More</a>
</div>