{# event \LocalizationsBundle\Entity\Event #}
{# form \Symfony\Component\Form\FormView #}

{% extends '::base.html.twig' %}

{% block main_content %}
    <div class="event_profile">
        <h2>Description</h2>
        <div class="event_profile__description">{{ event.description }}</div>
        <h2>Address</h2>
        <div class="event_profile__address">{{ event.address }}</div>
        <h2>Date</h2>
        <div class="event_profile__date">
            <span class="event_profile__date_from">{{ event.dateFrom.format('d.m.Y') }}</span> -
            <span class="event_profile__date_to">{{ event.dateTo.format('d.m.Y') }}</span>
        </div>
        <hr>
        <h2>Comments</h2>
        <div class="comments_form">
            <h3 class="comments_form__header">Add new comment</h3>
            {% include '@Localizations/form.html.twig' with { form : form} %}
        </div>
        <div class="comments_list">
            <h3>Comments list</h3>
            {% for comment in comments %}
                <div class="comments_list__item">
                    <p><strong>{{ comment.email }}</strong> wrote:</p>
                    <div class="comments_list__msg">{{ comment.content }}</div>
                    <p>
                        <a
                            href="{{ path('events_comments_delete', {
                                'id' : comment.id
                            }) }}"
                            class="comments_list__delete"
                        >[REMOVE]</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

    <a
        href="{{ path('events') }}"
        class="goback btn btn-default"
    >Go back to list</a>
{% endblock %}
